html{min-height:100%;position:relative;}
make sure it is at least as tall as the viewport body,div,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,*{margin:0;padding:0;border:0;}
body{font-size:100%;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
ul{list-style:none;}
body{background:#fff;font-family:'Comic Neue Angular',sans-serif;text-align:center;}
h1{font-size:130px;letter-spacing:-8px;position:relative;margin:20px 0;line-height:1;z-index:0;color:#222;}
a{text-decoration:underline;color:#222;}
a:hover{color:#aaa;}
.da-shelf{background:#222;margin:0 auto;padding:10px 0;}.da-shelf h2{margin:0;position:relative;z-index:1;font-weight:700;font-size:22px;line-height:1.3;color:#fff;}
.da-shelf a{display:block;color:#fff;}
.da-shelf a:hover{color:#ccc;}
#loading-text{margin:80px;font-size:30px;}
#comic-list{margin:40px auto;display:none;text-align:left;}#comic-list li{position:relative;bottom:0;width:100%;height:0;margin-bottom:200px;vertical-align:top;text-align:center;cursor:pointer;}#comic-list li img{width:100%;border-radius:1px;box-shadow:0 0 20px rgba(0, 0, 0, 0.2);}
#comic-list li div{display:none;}
#comic-list li:hover{box-shadow:0 0 20px rgba(0, 0, 0, 0.4);bottom:5px;}#comic-list li:hover img{box-shadow:0 0 25px rgba(0, 0, 0, 0.2);}
#comic-list li:last-child{height:auto;box-shadow:none;}
#comic-list li.selected{z-index:800;bottom:10px;}#comic-list li.selected img{box-shadow:0 0 30px rgba(0, 0, 0, 0.3);z-index:802;}
#comic-list li.selected div{z-index:801;display:block;margin:-10px 0 0;width:100%;background:#fff;color:#aaa;opacity:0.95;text-align:left;padding:25px 20px 20px;overflow-y:auto;}#comic-list li.selected div h3{font-size:1.5rem;line-height:1.2;color:#222;}
#comic-list li.selected div h4{font-size:1.2rem;line-height:2;}
#comic-list li.selected div p{color:#000;font-size:1rem;line-height:1.5;margin-bottom:20px;font-family:'Comic Neue',sans-serif;}
#credits{position:absolute;bottom:20px;left:0;right:0;line-height:1.5;padding:10px 20px;}
@media (max-width:400px){li.selected div{position:relative;}}@media (min-width:400px){#comic-list li{display:inline-block;width:50%;} #comic-list li.selected div{position:absolute;}}@media (min-width:600px){h1{font-size:140px;margin:40px 0 0;} .da-shelf{width:700px;}.da-shelf a{display:inline-block;} #comic-list li{width:33.33%;margin-bottom:250px;}}@media (min-width:900px){#comic-list{max-width:1000px;}#comic-list li{width:25%;}}
