html{min-height:100%;position:relative;}
make sure it is at least as tall as the viewport body,div,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,*{margin:0;padding:0;border:0;}
body{font-size:100%;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a{text-decoration:none;}
ul{list-style:none;}
body{background:#111;position:relative;font-family:'Merriweather Sans','Helvetica','Arial',sans-serif;}
h1{color:#fff;font-size:4rem;margin:40px 0;text-align:center;}
#comic-list{margin:0 auto;}#comic-list li{position:relative;width:100%;vertical-align:top;text-align:center;box-shadow:0 0 30px #000;margin-bottom:-20%;cursor:pointer;}#comic-list li img{width:100%;}
#comic-list li div{display:none;}
#comic-list li.selected{box-shadow:0 0 60px #000;z-index:9999;margin-bottom:0;}#comic-list li.selected img{box-shadow:0 0 5px #111;}
#comic-list li.selected div{display:block;margin:-4px 0 0;width:100%;background:#fff;color:#eee;opacity:0.95;text-align:left;padding:20px 20px 40px;overflow-y:auto;}#comic-list li.selected div h2{font-size:1.5rem;line-height:1.2;color:#222;}
#comic-list li.selected div h3{font-size:1.2rem;color:red;line-height:2;}
#comic-list li.selected div p{color:#000;font-size:1rem;line-height:1.5;}
@media (max-width:400px){li.selected div{position:relative;}}@media (min-width:400px){#comic-list li{display:inline-block;width:33.3%;} #comic-list li.selected{margin-bottom:-20%;}#comic-list li.selected div{position:absolute;}}@media (min-width:900px){#comic-list{max-width:1000px;}#comic-list li{width:25%;}}
