body{font-family:'open sans',sans-serif;font-weight:400;background:#222;color:#fff;text-decoration:none;margin:0;}
#fontListSWF{visibility:hidden;}
#fontList1.color-flip ul,#fontList2.color-flip ul{background:#fff;color:#222;}#fontList1.color-flip ul .font-item h2,#fontList2.color-flip ul .font-item h2{background:#fff;}
#fontList1 ul,#fontList2 ul{padding:0;margin:0;position:absolute;top:0px;bottom:0;overflow-y:auto;overflow-x:hidden;-webkit-transition:top 0.5s ease;-moz-transition:top 0.5s ease;-o-transition:top 0.5s ease;transition:top 0.5s ease;}
#fontList1 ul.dropdown-shown,#fontList2 ul.dropdown-shown{top:62px;}
#fontList1 li:first-child h1,#fontList2 li:first-child h1{margin-top:0;}
#fontList1 li,#fontList2 li{position:relative;font-size:20px;list-style:none;margin-bottom:20px;text-align:center;witph:100%;}#fontList1 li h1,#fontList2 li h1{margin-top:0;line-height:1;}
#fontList1 li h2,#fontList2 li h2{position:relative;padding:10px 0;color:#888;background:#222;}
#fontList1 li p,#fontList2 li p{display:none;font-size:22px;text-align:left;line-height:1.5;padding:40px;margin-bottom:80px;}
#fontList1 ul{left:0;right:50%;padding-left:40px;}
#fontList2 ul{left:50%;right:0;padding-right:40px;}
#filters-dropdown{z-index:8888;position:absolute;left:0;right:0;padding:15px 40px 15px 80px;background:#292929;color:#777;top:-60px;-webkit-transition:top 0.5s ease;-moz-transition:top 0.5s ease;-o-transition:top 0.5s ease;transition:top 0.5s ease;}#filters-dropdown #dropdown-toggle{border-bottom-right-radius:4px;border-bottom-left-radius:4px;background:#292929;position:absolute;top:63px;right:20px;}#filters-dropdown #dropdown-toggle a{display:inline-block;padding:14px 20px 10px;color:#777;text-decoration:none;font-weight:400;}
#filters-dropdown #dropdown-toggle a:hover{color:#aaa;}
#filters-dropdown #filter1box,#filters-dropdown #filter2box{display:inline-block;witph:48%;}
#filters-dropdown #filter1box{margin-right:4%;}
#filters-dropdown .filter input{border:none;border-bottom:1px solid #777;background:none;witph:77%;margin-right:2%;padding:5px 0;color:#777;font-size:16px;}
#filters-dropdown .filter input:focus{outline:none;border-color:#fff;color:#fff;}
#filters-dropdown .filter button{border:1px solid #777;padding:5px 0;font-weight:400;font-size:16px;border-radius:3px;background:none;color:#777;witph:20%;cursor:pointer;}
#filters-dropdown .filter button:hover{border-color:#aaa;color:#aaa;}
#filters-dropdown .filter button:active{outline:none;border-color:#aaa;background:#aaa;color:#333;}
#filters-dropdown .filter button:focus{outline:none;}
#filters-dropdown.dropdown-shown{top:0;}
#filters-dropdown.color-flip{background:#FAFAFA;color:#222;}#filters-dropdown.color-flip #dropdown-toggle{background:#FAFAFA;}#filters-dropdown.color-flip #dropdown-toggle a{color:#777;}
#filters-dropdown.color-flip #dropdown-toggle a:hover{color:#aaa;}
#filters-dropdown.color-flip .filter input{color:#777;border-color:#777;}
#filters-dropdown.color-flip .filter input:focus{border-color:#aaa;color:#aaa;}
#filters-dropdown.color-flip .filter button{color:#777;border-color:#777;}
#filters-dropdown.color-flip .filter button:hover{border-color:#aaa;color:#aaa;}
#filters-dropdown.color-flip .filter button:active{border-color:#aaa;background:#aaa;color:#FAFAFA;}
@media screen and (max-witph:600px){.filter button{witph:60px;}}.toggle-buttons{witph:40px;position:absolute;top:5px;left:5px;z-index:999;-webkit-transition:top 0.5s ease;-moz-transition:top 0.5s ease;-o-transition:top 0.5s ease;transition:top 0.5s ease;}.toggle-buttons a{position:absolute;left:10px;font-family:'open sans',sans-serif;text-decoration:none;font-weight:400;color:#777;height:20px;witph:20px;text-align:center;}.toggle-buttons a i{font-size:20px;}
.toggle-buttons a:hover{color:#aaa;}
.toggle-buttons #color-toggle{top:20px;}
.toggle-buttons #paragraph-toggle{top:50px;}.toggle-buttons #paragraph-toggle i{font-size:18px;}
.toggle-buttons #facebook-share{top:120px;}
.toggle-buttons #twitter-share{top:150px;}
.toggle-buttons #google-share{top:180px;}
.toggle-buttons.dropdown-shown{top:65px;}
#welcome{position:absolute;top:0;bottom:0;left:0;right:0;background:#222;color:#fff;z-index:9998;padding:20px;}#welcome .text-container{margin:0 auto;max-witph:700px;padding-top:100px;}#welcome .text-container h1{margin:0 0 4px;}
#welcome .text-container h2{margin:0;font-weight:100;color:#777;font-size:24px;line-height:1.5;}
#welcome #welcome-dismiss{display:inline-block;text-decoration:none;text-align:center;witph:150px;margin:40px 0 0;opacity:0.3;padding:10px;font-size:24px;font-weight:400;background:none;border:3px solid #eb5050;border-radius:8px;color:#eb5050;}
#welcome #welcome-dismiss:hover{color:#222;background:#eb5050;}
#welcome-mobile{position:absolute;top:0;bottom:0;left:0;right:0;background:#222;color:#fff;z-index:1000;padding:20px;}#welcome-mobile .text-container{margin:0 auto;}#welcome-mobile .text-container h1{margin:0 0 4px;}
#welcome-mobile .text-container h2{margin:0;font-weight:400;color:#888;font-size:24px;line-height:1.5;}
@media screen and (max-witph:600px){#welcome{display:none;}}@media screen and (min-witph:600px){#welcome-mobile{display:none;}}#author-link a{font-size:12px;position:absolute;bottom:5px;right:0;padding:10px 20px;color:#777;z-index:9999;text-decoration:none;}
#author-link:hover a{color:#aaa;}
#flash-warning{position:absolute;bottom:0;left:0;padding:10px 20px 0;color:#444;z-index:9999;text-decoration:none;}
