@media (max-width: 57em) {
  html {
    font-size: 95%;
  }
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-family: "Alegreya", "Times New Roman", serif;
  padding: 0.5rem;
}

.container-fluid {
  max-width: 50rem;
  /*padding-top: 5rem;
  padding-bottom: 3rem;*/
  padding: 5rem 1rem 3rem;
}
.container-home {
  padding-top: 1rem;
}
@media (min-width: 32.5rem) {
  .container-home {
    padding-top: 2rem;
  }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}



h4, h5, h6, p, figcaption, li {
  font-size: 1.2em;
  margin-bottom: 1rem;
}
figure {
  margin: 2rem 0 3rem;
}
figcaption {
  font-style: italic;
}
.copyright {
  font-size: 1em;
  text-align: center;
}

h1 {
  font-size: 2.48832em;
  line-height: 1;
  font-style: italic;
  font-weight: 400;
  margin: 0;
}
h2 {
  font-size: 1.728em;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
h3 {
  font-size: 1.44em;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

h3.title {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
h4  {
  font-size: 1em;
  text-transform: uppercase;
}

ul {
  padding-left: 1rem;
}

hr {
  margin: 4rem auto;
  width: 12rem;
  border-color: #777;
}
hr.closer {
  margin: 4rem auto 7rem;
}
@media (max-width: 32.5rem) {
    hr.closer {
      margin: 2rem auto 4rem;
    }
}

.bordered-img {
  border: 1px solid #777;
}
figure img, figure iframe {
  margin: 1rem 0;
  display: block;
}
img.no-border {
  border: none;
}
img {
  width: 100%;
}

.prev-next-links .col a {
  display: inline-block;
  width: 100%;
  padding: 2rem 0 3rem;
}

.nav-row {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 9999;
  padding: 1rem;
}
.nav-row .container-fluid {
  padding: 0 0.5rem;
}
.nav-row h1 {
  display: inline-block;
}
.nav-row .about-link {
  float: right;
}
.header-row {
  z-index: 9999;
  padding: 1rem 0;
}
.header-row h3 {
  margin-top: 1rem;
}
.static-header {
  padding: 0.5rem;
  position: relative;
}
@media (max-width: 20rem) {
    .header-row .col {
      padding: 0;
    }
}
@media (min-width: 32.5rem) {
    .header-row {
      padding: 2rem 0 3rem;
    }
    .static-header {
      padding: 0.5rem 1.5rem;
    }
}

.footer-row {
  margin-top: 1rem;
  text-align: center;
}

a {
  color: #07aac6;
  touch-action: manipulation;
}
p a {
  color: #059fba;
}
a:hover {
  color: #06bddd;
}
.study-link {
  position: relative;
  width: 100%;
  margin: 0 0 1rem 0;
}
/*.study-link-tag {
  color: black;
  background: white;
  position: absolute;
  bottom: 0;
  right: 0;
}*/
.study-link-box {
  touch-action: manipulation;
  opacity: 1;
  /*background: #07aac6;*/
  background: none;
  /*background: rgba(8, 170, 199, 0);*/
  background-blend-mode: multiply;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  text-align: center;
  display: grid;
}
.study-link-box-title {
  margin: auto;
  background: #07aac6;
}
.study-link-box-title p, .study-link-box-title h2 {
  color: white;
  margin: 0.5rem 0.75rem;
}
.study-link-box-title p {
  /*font-style: italic;*/
}
.study-link:hover .study-link-box {
  background: rgba(8, 170, 199, 0.25);
  opacity: 1;
}
.study-challenge {
  font-style: italic;
  margin: 2rem 0;
}
