/* make fonts tad smaller on mobile?? */
/* @media (max-width: 57em) {
  html {
    font-size: 95%;
  }
} */

/* CORE */
html {
  font-size: 200%;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-family: "Name Sans v01 Text", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 50%;
}

/* GRID */
.grid-container {
  /* width: 100%; */
  display: grid;
  background: #fff;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1rem;
}
div.grid-container {
  padding: 1rem;
}
nav.grid-container {
  background: yellow;
  padding: 1rem 1rem;
}
.start1 {
  grid-column-start: 1;
}
.start2 {
  grid-column-start: 2;
}
.start3 {
  grid-column-start: 3;
}
.span2 {
  grid-column-end: span 2;
}
.span3 {
  grid-column-end: span 3;
}
.span4 {
  grid-column-end: span 4;
}
.span5 {
  grid-column-end: span 5;
}
.span6 {
  grid-column-end: span 6;
}
.span7 {
  grid-column-end: span 7;
}
.span8 {
  grid-column-end: span 8;
}
.span9 {
  grid-column-end: span 9;
}
.span10 {
  grid-column-end: span 10;
}

.span-vert-3 {
  grid-row-end: span 3;
}

.margin-0 {
  margin: 0;
}
.margin-top-2 {
  margin-top: 2rem;
}
.margin-top-3 {
  margin-top: 3rem;
}
.margin-top-4 {
  margin-top: 4rem;
}

h1, h2, .main-text-area {
  grid-column-start: 3;
}
.max-text-area {
  grid-column-start: 2;
}
.minor-text-area {
  grid-column-start: 4;
}
.main-text-area {
  grid-column-end: span 5;
}
.minor-text-area {
  grid-column-end: span 4;
}
.max-text-area {
  grid-column-end: span 8;
}
h1, h2 {
  grid-column-end: span 6;
}
h1.jumbo {
  grid-column-end: span 8;
}
.citation {
  grid-column: 8 / span 2;
  padding-top: 0.35rem;
}

.menu-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  border: 1px solid black;
  border-radius: 0;
  font-size: 1em;
  padding: 0.5rem 0.75rem;
  font-family: "Name Sans v01 Display", "Helvetcia", sans-serif;
  font-weight: 700;
  opacity: 0.25;
  transition: opacity 0.25s;
}
.menu-btn:hover {
  cursor: pointer;
  opacity: 1;
}
.nav-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 33%;
  background: yellow;
  z-index: 998;
  transition: right 0.5s;
}
.nav-menu.hidden {
  right: -33%;
}
.nav-menu.shown {
  right: 0;
}

/* TYPE */
h1, h2 {
  font-family: "Name Sans v01 Display", "Helvetcia", sans-serif;
  letter-spacing: -0.01em;
}
h1 {
  margin: 0;
  font-size: 3.625em;
  line-height: 1.2;
}
h1.jumbo {
  font-size: 7.6875em;
}
h2 {
  font-size: 2.25em;
  line-height: 1.1861111111
}
p {
  margin-block-start: 0;
  margin-block-end: 1.33333333em;
}
p.main-text-size, span.main-text-size, .main-text-size p {
  font-size: 1.5em;
  line-height: 1.6666666667;
  letter-spacing: -0.02em;
}
p.minor-text, .minor-text-size p {
  font-size: 1.1875em;
  line-height: 1.6842105263;
  letter-spacing: -0.02em;
}
.citation {
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: -0.01em;
}
.citation-note {
  font-size: 0.8em;
}
.citation-note, .citation {
  color: #666;
}
a span {
  font-size: 1.1875em;
  line-height: 1.6842105263;
  letter-spacing: -0.02em;
}
a img + span {
  margin-top: 0.25rem;
  display: inline-block;
}
a img {
  outline: 1px solid rgba(0, 0, 0, 0.1);
}
a, a span {
  text-decoration: none;
  color: #243FF2;
}
a, a img {
  position: relative;
  opacity: 1;
  top: 0;
  box-shadow: 0 rgba(0,0,0,0);
  transition: top 0.25s, box-shadow 0.25s;
}
a:hover img {
  top: -0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.10), 0 0.125rem 0.5rem rgba(0,0,0,0.15);
}

/* MISC */
img {
  max-width: 100%;
  display: block;
}

.intro-blurb {
  margin-bottom: 4rem;
}
