
img {
  max-width: 100%;
  margin-bottom: 1rem;
  outline: 1px solid #eee;
}

.front-head, .piece {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.piece {
  border-top: 1px dashed $medium-gray;
}
.piece:last-child {
  padding-bottom: 4rem;
}
a.social {
  margin-right: 1rem;
}
