extends _base

block head

  //- FACEBOOK META STUFF
    meta(property="og:title", content="On the Self")
    meta(property="og:url", content="http://notsteve.com/comic-shelf")
    meta(property="og:type", content="website")
    meta(property="og:image", content="http://notsteve.com/img/comicshelf-screenshot.png")
    meta(property="og:description", content="See what's new in comic shops this week")
  //- TWITTER META STUFF
    meta(name="twitter:card", content="See what's new in comic shops this week")
    meta(name="twitter:url", content="http://notsteve.com/comic-shelf")
    meta(name="twitter:title", content="On the Shelf")
    meta(name="twitter:description", content="See what's new in comic shops this week")
    meta(name="twitter:image", content="http://notsteve.com/img/comicshelf-screenshot.png")


  //- FONTS
  link(href='http://fonts.googleapis.com/css?family=Merriweather:400,700,800', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Permanent+Marker|Londrina+Shadow', rel='stylesheet', type='text/css')

  //- STYLESHEETS
  link(rel="stylesheet", href="./css/comic-shelf.css")
  link(rel="stylesheet", href="./css/comic-font.css")

  //- JAVASCRIPT LINKS
  script(src='http://code.jquery.com/jquery-1.10.1.min.js')


block body
  h1.responsive_h1 On the Shelf
  .da-shelf
    h2 This week's new comics. 
      a(href="/comic-shelf-next.html", alt="next week's comics") See next week!
  .wrapper
    h4#loading-text LOADING...
    ul#comic-list
  h3#credits Site created by 
    a(href="http://notsteve.com") Steven Lewis
    | . Info pulled from 
    a(href="http://www.mycomicshop.com/newreleases", alt="mycomicshop.com") MyComicShop.com
    |  using 
    a(href="http://www.kimonolabs.com/") Kimono
    | .
  script
    // -----------------------------------------
    // This relies on Kimono (kimonolabs.com) and the API I created using their tool. Also utilizes info from mycomicshop.com (thanks!)
    // -----------------------------------------


    function kimonoCallback(data) {
    // begin kimon functions and looping over issues

      var newComics = data.results.collection1;

      // looping over all the issues
      for (var i = 0; i < newComics.length; i+=1) {
        // logs for all the different values we're getting
        // console.log(newComics[i]);
        // console.log(newComics[i].issue_title.text);
        // console.log(newComics[i].issue_title.href);
        // console.log(newComics[i].issue_num);
        // console.log(newComics[i].publisher.text);
        // console.log(newComics[i].issue_info);
        // console.log(newComics[i].cover_art.src);

        // check for cover art
        if (newComics[i].cover_art.src == undefined){
        } else {
          // replacing the 120px version with a 300px version
          var coverBig = newComics[i].cover_art.src.replace('/120/', '/300/');

          // creating the HTML for each li or "issue"
          $('#comic-list').append('<li><img src="' + coverBig + '"><div class="info-div"><h3><a target="blank" clas="title-link" href="' + newComics[i].issue_title.href + '">' + newComics[i].issue_title.text + '</a></h3><h4>' + newComics[i].issue_num.replace('#ITEM', '') + '</h4><p>' + newComics[i].issue_info + '</p></div></li>');
        };

      // end of looping over all the issues
      };


      // click listener to toggle class
      // has to come after loop to make sure they're all loaded
      $('#comic-list li').click(function(){
        if ( $(this).hasClass('selected') ) {
          $('body').animate({scrollTop:$(this).offset().top - 50},500);
          $(this).removeClass('selected');
        } else {
          $('.selected').removeClass('selected');
          $(this).addClass('selected').find('div');
          $('body').animate({scrollTop:$('.selected').offset().top - 50},500);
        }
      });
      // displaying the finished list
      $("#comic-list").css("display","block");
      $("#loading-text").css("display","none");
    // end of kimono stuff
    };
    // some other kimono nonsense
    $.ajax({
        "url":"http://www.kimonolabs.com/api/71blnv5q?apikey=d62eaf8c48b7eb0fe3cab0f0dc1bab83&callback=kimonoCallback",
        "crossDomain":true,
        "dataType":"jsonp"
    });












    