extends _base

block head
  //- FONTS
  link(href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Permanent+Marker|Londrina+Shadow', rel='stylesheet', type='text/css')


  //- STYLESHEETS
  link(rel="stylesheet", href="./css/comic-shelf.css")


  //- JAVASCRIPT LINKS
  script(src='http://code.jquery.com/jquery-1.10.1.min.js')
  script(src='./js/comic-shelf.js')


block body
  h1
    a(href="#", alt="OnTheShelf home page") New Comic Releases
  //- h2
  //-   a(href="#", alt="last week's comics") LAST week
  //-   a(href="#", alt="this week's comics") THIS week
  //-   a(href="#", alt="next week's comics") NEXT week
  ul#comic-list




    