extends _base

block head
  //- FONTS

  //- STYLESHEETS
  link(rel="stylesheet", href="./css/comic-shelf.css")


  //- JAVASCRIPT LINKS

    //- FROM KIMONO
  script(src='http://code.jquery.com/jquery-1.10.1.min.js')
  script(src='./js/comic-shelf.js')


block body

  h1 New Comic Book Releases

  ul#comic-list
    li.selected
      img(src='img/cat.jpg')
      div
        h2 Cat
        h3 #1
        p Meow.


script
  $(document).ready(function(){
    $('li').click(function(){
      alert("The paragraph was clicked.");
    });
  });

    