extends _base

block head
  //- FONTS
  link(href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800', rel='stylesheet', type='text/css')

  //- STYLESHEETS
  link(rel="stylesheet", href="./css/comic-shelf.css")


  //- JAVASCRIPT LINKS

    //- FROM KIMONO
  script(src='http://code.jquery.com/jquery-1.10.1.min.js')
  script(src='./js/comic-shelf.js')


block body

  h1 New Comic Book Releases
  
  ul#comic-list




    