extends _base

block head
    title Font Flipper - Flip through your fonts
    meta(name="description", content="Simple little website to get to know the fonts installed on your computer better.")
    meta(name="autho", content="Steven Lewis")

    //- FACEBOOK META STUFF
    meta(property="og:title", content="Font Flipper")
    meta(property="og:url", content="http://notsteve.com/font-flipper")
    meta(property="og:type", content="website")
    meta(property="og:image", content="http://notsteve.com/img/Fontflip-screenshot.png")
    meta(property="og:description", content="Simple little website to get to know the fonts installed on your computer better. Get a closer look at letters, and compare fonts side-by-side.")
    //- TWITTER META STUFF
    meta(name="twitter:card", content="Simple little website to get to know the fonts installed on your computer better.")
    meta(name="twitter:url", content="http://notsteve.com/font-flipper")
    meta(name="twitter:title", content="Font Flipper")
    meta(name="twitter:description", content="Simple little website to get to know the fonts installed on your computer better.")
    meta(name="twitter:image", content="./img/Fontflip-screenshot.png")

    //- ADDITIONAL STYLESHEET
    link(rel="stylesheet", href="./css/font-flipper.css")
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')


    //- OPEN SANS FONT
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')

    //- JAVASCRIPT LINKS
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='js/jquery.fittext.js')

block body

    //- WELCOME PAGE (overlaid)
    #welcome-mobile
        .text-container
            h2 Flip through your fonts with the
            h1 Font Flipper
            h2 This site requires flash to get the list of your fonts. Unfortunately, this means it does not work on mobile :(
    #welcome
        .text-container
            h2 Flip through your fonts with the
            h1 Font Flipper
            h2 A simple little website to get to know the fonts installed on your computer better. Try typing to see different letters, compare paragraphs of text as well as each character, and invert colors. 
            a#welcome-dismiss(href="#") Loading...
    

    //- TOGGLE BUTTONS
    .toggle-buttons
        a#color-toggle(href="#", title="")
            i.fa.fa-adjust
        a#paragraph-toggle(href="#", title="")
            i.fa.fa-align-left
        a#facebook-share(href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://notsteve.com/font-flipper&p[images][0]=http://notsteve.com/img/Fontflip-screenshot.png&p[title]=Font%20Flipper&p[summary]=Simple%20little%20website%20to%20get%20to%20know%20the%20fonts%20installed%20on%20your%20computer%20better.%20Get%20a%20closer%20look%20at%20letters,%20and%20compare%20fonts%20side-by-side.")
            i.fa.fa-facebook-square
        a#twitter-share(href="http://twitter.com/home?status=Get%20to%20know%20your%20computer's%20fonts%20with%20Font%20Flipper%20http://goo.gl/YUrK3D")
            i.fa.fa-twitter-square
        a#google-share(href="https://plus.google.com/share?url=http://notsteve.com/font-flipper")
            i.fa.fa-google-plus-square

    #author-link
        a(href="http://notsteve.com", title="") Hire Steven Lewis
    #flash-warning
        p *requires Flash


    //- THE ACTUAL LISTS OF FONTS
    #fontList
    #fontList2


    //- MORE JAVASCRIPT MAGIC
    script(type='text/javascript').
        
        // WELCOME FITTEXT SETUP
        $('#welcome').find('h1').fitText(7, { minFontSize: '50px'});


        //- GETTING FONTS FROM USER
        function populateFontList(fontArr)
        {
        var allFontsCounter = 0;
        var regularFontsCounter = 0;
        var allFontsHTML = '<ul>';
        var regularFontsHTML = allFontsHTML;
        for (var key in fontArr)
        {
        var fontName = fontArr[key];
        // trim
        fontName = fontName.replace(/^\\s\s*/, '').replace(/\s\s*$/, '');
        if (fontName.match(/[_\\-\s]Italic$/)
        || fontName.match(/[_\\-\s](Demi)?[Bb]old$/)
        || fontName.match(/[_\\-\s]Medium$/)
        || fontName.match(/[_\\-\s](Ultra)?[Ll]ight$/)
        || fontName.match(/[_\\-\s]Condensed$/)
        )
        allFontsHTML += '<li>'+fontName+'</li>';
        else
        {
        allFontsHTML += '<li class="font-item" data-value="' + fontName + '"></li>';
        fontName = fontName.replace(/\\s*Regular$/, '');
        regularFontsHTML += '<li class="font-item" data-value="' + fontName + '"><h2 class="font-name">'+fontName+'</h2><h1>&</h1></li>';

        regularFontsCounter++;
        }
        allFontsCounter++;
        }
        regularFontsHTML += '</ul>';
        allFontsHTML += '</ul>';
        // allFontsHTML = allFontsCounter+' fonts altogether:'+allFontsHTML;
        // regularFontsHTML = regularFontsCounter+' "regular" fonts:'+regularFontsHTML;
        document.getElementById('fontList').innerHTML = allFontsHTML;
        document.getElementById('fontList').innerHTML = regularFontsHTML;
        document.getElementById('fontList2').innerHTML = regularFontsHTML;
        $('.font-item').append("<p>Every year, I took a holiday. I went to Florence, this cafe on the banks of the Arno. Every fine evening, I would sit there and order a Fernet Branca. I had this fantasy, that I would look across the tables and I would see you there with a wife maybe a couple of kids. You wouldn't say anything to me, nor me to you. But we would both know that you've made it, that you were happy. I never wanted you to come back to Gotham. I always knew there was nothing here for you except pain and tragedy and I wanted something more for you than that. I still do.</p>");
        changeFonts();
        }

        //- STUFF PAT HELPED ME WRITE
        function changeFonts() {
            $(window).on('keypress', function(evt) { 
            $('#fontList').find('li').find('h1').text(String.fromCharCode(evt.which));
            $('#fontList2').find('li').find('h1').text(String.fromCharCode(evt.which));
            })

            // SET ITEM FONTS
            $('.font-item').find('h1').each(function(){
            $(this).css('font-family',$(this).attr('data-value'));
            });
            $('.font-item').each(function(){
            var fontName = $(this).attr('data-value');
            $(this).find('h1').css('font-family', fontName);
            $(this).find('p').css('font-family', fontName);
            });


            //- SETTING UP FITTEXT
            $('.font-item').find('h1').fitText(1, { minFontSize: '80px'});


            //- WELCOME PAGE BEHAVIOR (AUTO TYPING)
            $('#welcome-dismiss').text('Flip!').css('opacity', 1);
            $('#welcome-dismiss').click(function() {
                $("#welcome").slideUp("slow", function() {
                    window.setTimeout(function() {
                        var event = jQuery.Event('keypress');
                        event.which = 97; 
                        event.keyCode = 97;
                        $('body').trigger(event);
                        }, 0);
                    window.setTimeout(function() {
                        var event = jQuery.Event('keypress');
                        event.which = 98; 
                        event.keyCode = 98;
                        $('body').trigger(event);
                        }, 20);
                    window.setTimeout(function() {
                        var event = jQuery.Event('keypress');
                        event.which = 99; 
                        event.keyCode = 99;
                        $('body').trigger(event);
                        }, 50);
                    window.setTimeout(function() {
                        var event = jQuery.Event('keypress');
                        event.which = 100; 
                        event.keyCode = 100;
                        $('body').trigger(event);
                        }, 80);
                    window.setTimeout(function() {
                        var event = jQuery.Event('keypress');
                        event.which = 101; 
                        event.keyCode = 101;
                        $('body').trigger(event);
                        }, 120);
                    window.setTimeout(function() {
                        var event = jQuery.Event('keypress');
                        event.which = 102; 
                        event.keyCode = 102;
                        $('body').trigger(event);
                        }, 170);
                    });
                });



            //- INVERT COLOR TOGGLE
            $('#color-toggle').click(function () {
                    $('#fontList').toggleClass('color-flip');
                    $('#fontList2').toggleClass('color-flip');
                    $('#color-toggle').toggleClass('color-flip');
                });

            //- TESTING FOR PARAGRAPH
            $('#paragraph-toggle').click(function () {
                    $('#fontList ul li h1').toggle();
                    $('#fontList ul li p').toggle();
                    $('#fontList2 ul li h1').toggle();
                    $('#fontList2 ul li p').toggle();
                    $(this).find('i').toggleClass("fa-align-left fa-font")
                });
        };







    object#fontListSWF(name='fontListSWF', type='application/x-shockwave-flash', data='FontList.swf', width='1', height='1')
      param(name='movie', value='FontList.swf')
      embed(src='FontList.swf', width='1', height='1')
