.header
  .container
    h1 STEVEN
      .colored LEWIS
img(src="img/steve@2x.png", alt="")
.content
  .container
    a(href="http://onesecond.designly.com", title="One second on the internet")
      .item
        img(src="img/one-second.png", alt="One second on the internet page")
        h2 see the full site at onesecond.designly.com
    a(href="http://nickmalburg.bandcamp.com/", title="Nick Malburg bandcamp page")
      .item
        img(src="img/nick-cover.jpg", alt="album cover for nick malburg")
        h2 download the album for free at nickmalburg.bandcamp.com
    a(href="http://designly.com", title="")
      .item
        img(src="img/designly.png", alt="Designly.com page")
        h2 see the full site at designly.com
    .item
      img(src="img/laura-shirt.jpg", alt="laura stevenson and the cans shirt")
    .item
      img(src="img/league.jpg", alt="freelance league illustration")
    .item
      img(src="img/btmi-logo.png", alt="Bomb the Music Industry logo")
      h2 "this shit is AWESOME!!!"
        br
        | - Jeff Rosenstock, Singer for Bomb the Music Industry
    .item
      img(src="img/dark-knight.png", alt="dark knight t-shirt")
    a(href="http://quoems.com", title="quoems.com")
      .item
        img(src="img/quoem-cover.png", alt="quoem book")
        h2 check out quoems.com
    .item
      img(src="img/chimera.jpg", alt="chimera book")
    .item
      img(src="img/invite.jpg", alt="invitation for spring show")
    .item
      img(src="img/handout.jpg", alt="handout for spring show")
    .item
      img(src="img/bomb-book.png", alt="")
    .item
      img(src="img/gallery-full.jpg", alt="yeah, wer're designers but... show")
    .item
      img(src="img/gallery-chair.jpg", alt="a visitor in the gallery")
    .item
      h2 baffledappledesign
        span [at]
        | gmail.com

