extends _base

block head
  //- TITLE AND INFO
  title notsteve.com
  meta(name="description", content="The portfolio of designer, Steven Lewis")
  meta(name="autho", content="Steven Lewis")

  //- FACEBOOK META STUFF
  meta(property="og:title", content="notsteve.com")
  meta(property="og:url", content="http://notsteve.com")
  meta(property="og:type", content="website")
  meta(property="og:image", content="http://notsteve.com/img/steve.jpg")
  meta(property="og:description", content="The portfolio site for designer, Steven Lewis.")
  //- TWITTER META STUFF
  meta(name="twitter:card", content="The portfolio site for designer, Steven Lewis.")
  meta(name="twitter:url", content="http://notsteve.com")
  meta(name="twitter:title", content="notsteve.com")
  meta(name="twitter:description", content="The portfolio site for designer, Steven Lewis.")
  meta(name="twitter:image", content="http://notsteve.com/img/steve.jpg")

  //- FONTS
  link(href="http://fonts.googleapis.com/css?family=Arvo|Montserrat:400,700", rel="stylesheet", type="text/css")
  link(href="http://fonts.googleapis.com/css?family=Lato:400,900|Volkhov", rel="stylesheet", type="text/css")

  //- STYLESHEETS
  link(rel="stylesheet", href="./css/styles.css")

  //- JAVASCRIPT LINKS
  script(src="./js/jquery.js")
  script(src="./js/jquery.fittext.js")
  script(src="./js/mine.js")



block body
  .header-wrapper
    .header
      a(href="mailto:steven@notsteve.com", title="Steven's email")
        h1.responsive_h1 STEVEN LEWIS
      h2.responsive_h2 Designer and HTML/CSS developer based in San&nbsp;Francisco,&nbsp;CA. 
       
        a(href="mailto:steven@notsteve.com", title="Steven's email") Email me.
  .container
    .item
      .item-image
        a(href="http://notsteve.com/font-flipper", target="_blank",title="The Font Flipper")
          img(src="img/font-flipper.png", alt="font flipper screenshot")
          img(src="img/font-flipper-p.png", alt="font flipper screenshot")
      .item-description
        h3 Font Flipper
        p Like most graphic designers, I adore typography. I developed this site to better appreciate the detail in each font and character, and to better enable a side-by-side comparison of the individual letters and complete paragraphs. Every typeface is unique, and “Font Flipper” enables the user to view multiple fonts, compare, and choose the best fit for their products, whether it is a book title, a page header, or just for fun. Type is a complicated, and beautiful thing. 
        a(href="http://notsteve.com/font-flipper",target="_blank", title="The Font Flipper") notsteve.com/font-flipper
    .item
      .item-image
        a(href="http://www.laurastevenson.net/home",target="_blank", title="laura stevenson website")
          img(src="img/laura-shirt.png", alt="laura stevenson and the cans shirt")
          img(src="img/laura-sketches.png", alt="early sketches of Laura Stevenson shirt")
      .item-description
        h3 Laura Stevenson & the Cans 
        p This one started out as fan art. Making self-initated designs for bands I like is just one tactic I use to keep my skills sharp. If I can, I like to send what I've made to the band members. 
          em Laura Stevenson and the Cans 
          | are a spectacular indie/folk/rock band who eventually had their logo made into a T-shirt. After the first batch of shirts were printed and sold out, I receive an email informing me it was the most popular shirt they had. They reprinted the shirt, this time with different colors, and I finally got my hands on one. Like I said, the first batch sold out.
        a(href="http://www.laurastevenson.net/home", target="_blank",title="laura stevenson website") laurastevenson.net
    .item
      .item-image
        a(href="http://onesecond.designly.com",target="_blank", title="One second on the internet")
          img(src="img/one-second.png", alt="One second on the internet page")
      .item-description
        h3 One Second on the Internet
        p One second doesn’t seem like much time, but a lot can happen. In one second, there are approximately 200 posts on Reddit, 4,000 tweets on Twitter, and 50,000 likes on Facebook. Visualizing the traffic the Internet experiences is very difficult. Once the numbers get so big, they start to lose meaning to us. This is why “One Second on the Internet” provides an illustration of how much activity takes place in such a small unit of time. 
        a(href="http://onesecond.designly.com", target="_blank",title="One second on the internet") onesecond.designly.com
    .item
      .item-image
        a(href="http://nickmalburg.bandcamp.com/",target="_blank", title="Nick Malburg bandcamp page")
          img(src="img/nick-cover.png", alt="album cover for nick malburg")
          img(src="img/nick-cover-back.png", alt="album cover for nick malburg")
      .item-description
        h3 Nick Malburg: Word Murder
        p Nick Malburg is solo folk/punk musician from Pittsburgh, Pennsylvania. He not only writes catchy tunes, but amazing lyrics. The entire album, “Word Murder" was recorded and mixed by Nick himself. As an artist, he wanted the album cover to embody the DIY style. As such, I combined a handwritten font for the title, text from “Everything Matters” by Ron Curie JR., and a shot of the neck of his guitar. For Nick, the album was about balancing his thoughts and words with music, and I believe the cover equates that message. 
        a(href="http://nickmalburg.bandcamp.com/",target="_blank", title="Nick Malburg bandcamp page") nickmalburg.bandcamp.com
    .item
      .item-image
        a(href="http://designly.herokuapp.com/",target="_blank",)
          img(src="img/designly.png", alt="Designly.com page")
      .item-description
        h3 Designly
        p I was originally hired to make logos, but was quickly propelled into much more active roles. I completely designed and coded the Designly site (twice) and helped with the design of several user interfaces. In addition, I created half of the themes provided and a series of coupon cards to be handed out at events. Designly underwent many changes in design, structure, goals, etc. I ended up writing blog posts, email campaigns, and several test pages and prototypes. In its entirety, it was a wholeheartedly rewarding experience and probably taught me more than any other job I've had.
        a(href="http://designly.herokuapp.com/",target="_blank",) designly.herokuapp.com
    .item
      .item-image
        a(href="http://notsteve.com/font-flipper", target="_blank",title="The Font Flipper")
          img(src="img/photo-beach.png", alt="beach photo with friends")
          img(src="img/photo-sunset.png", alt="sunset photo")
      .item-description
        h3 Photography
        p My father is a photographer. He used to set up a studio’s-worth of equipment in our living room to take my baby pictures. Both my parents documented family vacations, but my dad always knew where to stand to catch the light just right. Knowing my way around a camera has come in handy for me time and time again, both in my work and personal life. Knowing how to make a piece of work look good, or create original background images for a website has been especially handy. Being able to capture little moments with my friends and family is even better.
        a(href="https://www.flickr.com/photos/notsteve/",target="_blank", title="Flickr page") flickr.com/photos/notsteve
    .item
      .item-image
        a(href="http://notsteve.com/comic-shelf",target="_blank", title="On the Shelf")
          img(src="img/comic-shelf.png", alt="On the Shelf page")
      .item-description
        h3 On the Shelf
        p Comics are one of the reasons I do what I do. They fueled my interest in art as a kid, and I even made a comic book as one of my senior projects in college. I built this site to allow fans to virtually browse through new comic releases, and hopefully discover some new books to check out. It was also an excuse to test out a new web-app for pulling data from other sites.
        a(href="http://notsteve.com/comic-shelf", target="_blank",title="On the Shelf") notsteve.com/comic-shelf
    .item
      .item-image
        img(src="img/dark-knight.png", alt="dark knight t-shirt")
      .item-description
        h3 The Dark Knight Rises T-Shirt
        p Batman. He has been my favorite super hero since I was 3 years old. I was even an extra in the newest flick, 
          em The Dark Knight Rises. 
          | When I heard about a T-Shirt contest judged by Christopher Nolan, the director, I knew I had to enter. I am exceptionally proud of this design, even if it was rejected for entry. The site holding the contest refused to believe I had received permission to use the typeface directly from it's creator. So it goes.
    //- .item
    //-   .item-image
    //-     img(src="img/league.png", alt="freelance league illustration")
    //-   .item-description
    //-     h3 Freelance League
    //-     p "It would be awesome if we had a cool illustration of superheroes for this landing page.” Those words sparked an idea. The simple doodles of super heroes during my lunch break became a finished product later that day. It was for a trial website called “Freelance League” which had a minimal superhero theme. Who doesn’t want to be a superhero?
    .item
      .item-image
        img(src="img/chimera.png", alt="chimera book")
        img(src="img/how-mag.png", alt="chimera award")
      .item-description
        h3 Chimera Eight
        p Chimera is an award-winning undergraduate Journal of Art and Literature from Edinboro University in Pennsylvania. As part of a seven-person design team, I helped to craft the eighth volume of Chimera. The book had a subtle prism theme, reflecting the variety of mediums and subject matter it contained. It was also the first year to include a DVD, which I designed the menu music for. It was an extraordinary learning experience. Contacting the printers, assessing costs, and choosing the paper stock were more complicated than we anticipated, but we persevered. We won multiple awards for the book, inlcuding one from 
          em HOW Magazine. 
          | My favorite part though is the white blocks on the cover which glow in the dark!

    .item
      .item-image
        img(src="img/searching.png", alt="soul searching print")
        img(src="img/dubduck.png", alt="soul searching print")
      .item-description
        h3 Screen Prints
        p Computers are excellent tools, but I find it refreshing to get my hands dirty. In college I was introduced to printmaking and it was a great reprieve from digital design. I love the experience of rolling ink, exposing screens, and seeing the satisfying, crisp print produced in the end (usually). I took enough classes, unbeknownst to me at the time, to earn a minor in printmaking. 
    .item
      .item-image
        a(href="http://erieartmuseum.org/",target="_blank",)
          img(src="img/handout.png", alt="handout for spring show")
          img(src="img/invite.png", alt="invitation for spring show")
      .item-description
        h3 Erie Art Museum Spring Show
        p For the Erie Art Museum's 88th Annual Spring Show I wanted to get away from the obvious crocuses and daffodils. Instead, I strove to illustrate the essence of Spring in form on the page. The blocks of light, weightless text lean from side to side giving the subtle feeling of wind, while the light paper texture and bold yellow headlines warm your eyes. The pages mimic a leisurely stroll along Lake Erie’s shore.
        a(href="http://erieartmuseum.org/",target="_blank",) erieartmuseum.org
    .item
      .item-image
        a(href="http://www.bombthemusicindustry.com/final.html",target="_blank",)
          img(src="img/bomb-book.png", alt="Bomb the music industry lyric book")
          img(src="img/bomb-inside.png", alt="Inside spread of BTMI book")
      .item-description
        h3 Bomb the Music Industry Book
        p Jeff Rosenstock was the singer of punk-rock band, 
          em Bomb the Music Industry. 
          | Jeff's lyrics often get distorted by the fast-paced music and his intense, emotion-filled delivery. I crafted this “listener friendly” book to equip listeners with an easy-to-navigate guide to the lyrics flying by their ears. The book is color-coded by album, and page numbers correspond to the song's track number. The intensity of the page's color is linked to the tempo of each song. Duct tape binds the spine in true “punk” fashion.
        a(href="http://www.bombthemusicindustry.com/final.html",target="_blank",) bombthemusicindustry.com
    .item
      .item-image
        img(src="img/quoem-cover.png", alt="quoem book")
        img(src="img/quoem-progress.png", alt="quoem book progression")
      .item-description
        h3 New/Idea/Fresh/Poems
        p Haiku is fascinating. Working within strict and rigid limitations is a challenge and inspires poetic compositions that would not otherwise exist. In admiration of the Haiku, I developed the “quoem.” Each quoem is four words long. No more, no less, in order to compliment the form of the Haiku. This hand bound book of quoems I produced is a  collection of work written by friends and myself. Each quoem is written over full-bleed photographs, which accent the words.
    .item
      .item-image
        img(src="img/gallery-full.png", alt="yeah, wer're designers but... show")
        img(src="img/gallery-chair.png", alt="a visitor in the gallery")
      .item-description
        h3 Yeah, We're Designers, But...
        p Creating a split-gallery show with JP Spanbauer, one of my best friends, was a life-altering experience. Although we are both graphic designers, we each have our own span of different and exciting interests. The gallery show highlighted both our design work and our side projects. My half of the gallery featured a collage of photographs nailed to the walls with cotton clouds and pieces of “sky,” which were suspended above the images. A recliner sitting next to a CD player featuring music I composed enabled the viewer to enter a world completely of my own creation. In addition to my own work, JP painted giant murals on his walls between his framed screen prints. His handmade, screen printed pillows rested on a large heater in the room most shows struggle to hide. Our design work was the centerpiece of the room, and was featured on podiums.
    .footer    
        a.responsive_links(href="mailto:steven@notsteve.com", title="Steven's email",) steven@notsteve.com
        a.responsive_links(href="https://twitter.com/airguitarbandit",target="_blank", title="Steven's twitter page") @airguitarbandit