.fat
  .muscle
    .bone
      h1 STEVEN
      h1
        span LEWIS
img(src="img/steve@2x.png", alt="")
.fat
  .muscle.post
    .bone
    .bone
      h2 baffledappledesign[at]gmail.com
  .muscle.footer

