extends _base

block head
  //- FONTS
  //- link(href="http://fonts.googleapis.com/css?family=Arvo|Montserrat:400,700", rel="stylesheet", type="text/css")

  //- STYLESHEETS
  link(rel="stylesheet", href="./css/mother-board.css")

  //- JAVASCRIPT LINKS
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js")
  script(type="text/javascript", src="./js/parser.js")

  





block body
  #topbar
    #w
      #content
        h1 The Mother-Board
        #dribbble.feedcontainer
        hr
        #designer-news.feedcontainer
        hr
        #designer-news.feedcontainer
        hr
    script(type='text/javascript')
      $(function(){
      // running custom RSS functions
      parseRSS('http://dribbble.com/jobs.rss', '#dribbble');
      parseRSS('https://news.layervault.com/?format=rss', '#designer-news')
      parseRSS('http://www.authenticjobs.com/rss/custom.php?terms=&type=1,3,5,2,6,4&cats=&onlyremote=&location=San+Francisco%2C+CA', '#authentic-jobs')
      });



  // script(type='text/javascript')
  //   google.load("feeds", "1");